/* src/index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  color: #333;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%; /* Forces it to fill the screen */
}

button {
  cursor: pointer;
  font-family: inherit;
}